<% layout('./layouts/boilerplate.ejs') %>

<section class="container-fluid content-main">

    <h1>About</h1><br>

    <div class="dropdown">
        <p>
            <p class="dropdown-toggle h4 " data-toggle="collapse" data-target="#abouttheproject" role="button" aria-expanded="false" aria-controls="collapseExample">
              About the Project
            </p>
        </p>
        <div class="collapse" id="abouttheproject">
            <div class="card card-body">
                <p>
                    The project is developed using various tools and technologies together such as ejs, css, Javascript, NodeJS, ExpressJS, Bootstrap, passportJS, MongoDB, mongoose.<br>
                    It is still under development therefore the UX/UI of the site is not good. <br>
                    Styling is done with Bootstrap with minimum of custom style. 
                </p>
                The Key features for the website are: <br>
                <strong>Community Post</strong>
                To ensure that people can get the idea of what does the site do, A community at a global level is made without any kind of security or authentication. <br>
                <strong>Personal Space</strong>
                A bloger can have personal space where no body can peek his/her writings. <br>
                <strong>Authentication and Authorisation</strong>
                <p class="mb-0">For accessing the personal space, a person only need to signup in a easy, userfriendly way which uses <i>passportJS</i></p>
                <strong>Change Password, Pen Name and Delete my account</strong>
                For the user who have signuped, the above discripted features have been also added.
                <strong>Responsive</strong>
                
                
            </div>
        </div>

        <p>
            <p class="dropdown-toggle h4" data-toggle="collapse" data-target="#aboutthedeveloper" role="button" aria-expanded="false" aria-controls="collapseExample">
              About the Developer
            </p>
        </p>
        <div class="collapse" id="aboutthedeveloper">
            <div class="card card-body">
                Hey! This is Aman Porwal. <br>
                First of all, thank you for taking out time and look at my project. <br>
                Currently I am a student pursuing my B.Tech in Information Technology at SKIT, Jaipur. <br>
                I am a blooming web developer and aspire to acquire more knowledge in this field. <br>
                <p class="mt-0">
                    This project is my first step towards to become a full-stack web developer. <br>
                    Here is my <a href="https://www.linkedin.com/in/aman-porwal-368890174/">LinkdIn</a> profile. <br>
                    And if you have any suggestion, please feel free to contact me at <a href="mailto:01amanporwal@gmail.com">my mail</a>.
                </p>
            </div>
        </div>
    </div>
  
</section>