<% layout('./layouts/boilerplate.ejs') %>

<section class="container-fluid content-main">
    <div class="">
        <h1 class="col-lg-7 d-inline-block">Home</h1>
        <a href="/global" type="button" class="col-log-5 btn btn-light">Visit Community</a>
    </div>
</section>

<!-- And make this more artictic. Just the rubbish stuff. And important if you find anything. -->