<% layout('./layouts/boilerplate.ejs') %>



<div class="mb-5 mt-3">
    <h1 class="col-md-7 d-inline-block">Global Posts</h1>
    <a type="buttons" class="btn btn-light" href="/global/new">Compose</a>
</div>

<div class="row">
    <!-- For the display of title and hint of blog -->
    <% blogs.forEach(function(blog) { %>
        <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card custom-card">
            <div class="card-body">
            <h5 class="card-title display-inlineblock"><%=blog.title%> </h5>
            <sup><i class="far fa-star fa-1x fav-icon"></i></sup>
            <br>
            <p class="card-text text-truncate"><%=blog.content%></p>
            <a href="/global/<%=blog.title%>" type="button" class="read-btn btn btn-light btn-sm">Read further</a>
            </div>
        </div>
        </div>
    <% }); %>
</div>

<% if(ealert == true) { %>
    <script src='/javascript/invalidBlogAlert.js'></script>
<% } %>